body {
  padding: 10px 50px 50px;
  height: inherit;
  background-color: #0D4F61;
  font: 18px "Garamond", serif;
}
td a {
  color: #000;
  text-decoration: underline #000;
}

td a:hover{
  text-decoration: underline #fff;
}

a {
  color: #000;
  text-decoration: none;
  font-weight: bold;
  transition: 0.4s;
}

  a:hover {
    color: #fff;
  }

a.button, input[type=submit] {
  color: white;
  background: #019875;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  padding: 10px 14px 12px;
  font-size: 14px;
  border-radius: 2px;
  cursor: pointer;
}

form a.button, input[type=submit] {
  margin-left: 140px;
  transition: 0.4s;
}

input[type=submit] {
  border: 0;
}

  a.button:hover, input[type=submit]:hover {
    background-color: #01b189;
  }

p {
  margin: 20px auto;
}

ul {
  padding: 0;
  list-style-type: none;
  margin-bottom: 10px;
  line-height: 1.3em;
}

h1 {
  color: #fff;
}

h2 {
  color: #fff;
  border-top: 2px solid #e7e7e7;
  padding-top: 20px;
}

th {
  border-bottom: 2px solid #D8B493;
  text-align: left;
  padding: 5px 20px 5px 10px;
}

tr {
  min-height: 50px;
  background: #66B5A7;
}

tr:nth-child(2n) {
  background: #529c8f;
}

td {
  padding: 5px 20px 5px 10px;
  color: #fff;
}

label {
  color: #fff;
  font-weight: bold;
  min-width: 130px;
  display: inline-block;
  transition: 0.4s;
}

input {
  padding: 10px;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 14px;
  border-radius: 2px;
  border-color: #E7E7E7;
  transition: 0.4s;
}

input[type=text] {
  margin-left: 7px;
  width: 300px;
}
table {
  margin: auto;
  width: 90%;
}

@media screen and (max-width: 768px) {
  body{
    padding: 15px;
  }
}


.error {
  color: rgb(255 0 0);
  text-shadow: 2px 2px 2px rgba(0, 0, 0, .5);
}